<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.libremobileos.sidebar"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.libremobileos.permission.START_FREEFORM" />

    <application
        android:name=".app.SidebarApplication"
        android:persistent="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.sidebar.SidebarSettingsActivity"
            android:exported="true"
            android:label="@string/sidebar_label"
            android:icon="@drawable/view_sidebar_24px"
            android:theme="@style/Theme.SpaLib">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/view_sidebar_24px" />
        </activity>

        <activity
            android:name=".ui.all_app.AllAppActivity"
            android:exported="true"
            android:excludeFromRecents="true"/>

        <service android:name=".service.SidebarService"/>

        <receiver
            android:name=".receiver.BootReceiver"
            android:exported="true" >
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
